image:
  repository: msshoaib2255457/javajenkinstest
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: LoadBalancer
  port: 9090

containerPort: 9090
serviceAccount:
  create: true
  annotations: {}
  name: ""
