<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="6.0">
         
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.webapp.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>
